/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
var(--tg-theme-button-secondary-color)
var(--tg-theme-button-secondary-text-color)
var(--tg-theme-button-active-color)
var(--tg-theme-button-active-text-color)
var(--tg-theme-button-active-secondary-color)
var(--tg-theme-button-active-secondary-text-color)
var(--tg-theme-button-active-hover-color)
var(--tg-theme-button-active-hover-text-color)
*/

:root{
  margin: 5px;
  box-sizing: border-box;
  font-size: 10px;
  color: black;
  background-color: white;
  list-style:none;
}
  
.navbar {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
  margin: auto;
  width: 110%;
  padding: 1rem 0.75rem;
  background-color: #427bf5;
}

.contacts {
  list-style: none;
  text-align: left;
  font-size: 1.5rem;
  padding: 1rem 0.75rem;
}

.r_reserved p{
  padding-left: 3rem;
}

h3,
.id_input p,
#q8_p {
color:var(--tg-theme-hint-color);
}

.nav-item h1{
  font-size: 2rem;
  margin: auto;
  padding: 2rem 5rem;
}

.wrap {
  max-width: 600px; 
  margin: 0 auto; 
  padding: 20px; 
  justify-content: flex-start;
  align-items: center;
  color: black;
}

h3.q_number {
  text-align: left; 
  font-size: 12px;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;

}

form .statement {
display:block;
font-weight: bold;
font-size: 12px;
font-weight: bold;
}
form .likert {
list-style:none;
width:100%;
margin:0;
padding:0 0 1rem;
display:block;
border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
content: '';
position:relative;
top:11px;
left: 5%;
display:block;
background-color:#efefef;
border-radius: 25px;
height:4px;
max-width: 83%;
}
form .likert li {
display:inline-block;
width:15%;
text-align:center;
vertical-align: top;
}
form .likert li input[type=radio] {
display:block;
position:relative;
top:0;
left:50%;
margin-left:-6px;

}
form .likert li label {width:100%;}
form .buttons {
margin:30px 0;
padding:0 4.25%;
text-align:right
} 

form .buttons button {
border: 2px solid #427bf5;
border-radius: 20px;
margin-right: 20px;
}

form .buttons .clear {background-color: var(--tg-theme-button-secondary-color);}
form .buttons .submit {background-color: var(--tg-theme-button-color);} 
form .buttons .clear:hover {background-color: var(--tg-theme-button-active-secondary-color);}
form .buttons .submit:hover {background-color: var(--tg-theme-button-active-hover-color);}
