/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
var(--tg-theme-button-secondary-color)
var(--tg-theme-button-secondary-text-color)
var(--tg-theme-button-active-color)
var(--tg-theme-button-active-text-color)
var(--tg-theme-button-active-secondary-color)
var(--tg-theme-button-active-secondary-text-color)
var(--tg-theme-button-active-hover-color)
var(--tg-theme-button-active-hover-text-color)
*/

:root{
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
    list-style:none;
}

.navbar {
    height: 70px;
    width: 100%;
    padding-left: 0.5rem;
}

.nav-item img{
    max-width: 50px;
    min-width: 50px;
    padding: 0.5rem 0.7rem;
}

.nav-item h1{
    font-size: 1.5rem;
    padding: 0.5rem 0.7rem;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
}

.nav-item .has-dropdown {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}

.dropdown#menu{
    text-decoration: none;
}

.dropdown {
    
    opacity: 0;
    position: absolute;
    width: 2.5rem;
    z-index: 2;
    
    display: flex;
    align-items: center;
    justify-content: right;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;
   
    transform: translateX(-40%);
    transition: opacity .15s ease-out;
}

.dropdown-item a {
    text-decoration: none;
    color: black;
    list-style:none;
    width: 50%;
    height: 100%;
}

.has-dropdown:focus-within .dropdown #menu {
    opacity: 1;
    pointer-events: auto;
}

.wrap {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px; 
}

h3.q_number {
    text-align: left; 
    font-size: 12px;

}

form .statement {
  display:block;
  font-weight: bold;
  font-size: 12px;
  font-weight: bold;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}
form .buttons .clear {background-color: #e9e9e9;}
form .buttons .submit {background-color: #67ab49;} 
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;} 
